@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800,900&display=swap');

/*Normalize*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables for design*/
:root{
    /*font family*/
    --ff-primary: 'Lato', Sans-Serif;
    --ff-secondary: 'Poppins', Sans-Serif;
}