.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/*Left-coumn*/
.logo{ 
    max-width: 200px;
}

.logo-container{
    margin-top: 10px;
}

.header > .left-column{
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.explore-spark-container{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.explore-container h2{
    color: #cea135;
    font-family: var(--ff-primary);
    font-size: 1em;
    text-transform: uppercase;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    width: 340px;
}

.nav-container a{
    text-decoration: none;
    color: white;
    font-family: var(--ff-secondary);
    font-size: 1.2em;
    font-weight: 750;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.nav-container a:hover{
    color: #4acc79;
}

.spark-container{
    color: gray;
    font-family: var(--ff-primary);
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    padding-bottom: 4px;
}

.spark-container h2{
    font-weight: 600;
}

.spark-container i{
    font-size: 1.5em;
}

/*right-column*/
.header > .right-column{
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    font-family: var(--ff-primary);
}

.create-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
    width: 130px;
    background-color: #36383f;
    padding: 12px 10px;
    border: 1px solid #36383f;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.create-container h2{
    font-size: 1.1em;
    font-weight: 900;
}

.create-container i{
    font-size: 1.5em;
    color: #4acc79;
}

.search-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
    width: 40px;
}

.search-container i{
    padding-top: 10px;
    font-size: 1.8em;
    color: gray;
}

.login-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
    width: 100px;
    background-color: #36383f;
    padding: 12px 10px;
    border: 1px solid #36383f;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.login-container h2{
    font-size: 1.1em;
    font-weight: 900;
}

.signup-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
    width: 100px;
    background-color: #36383f;
    padding: 12px 10px;
    border: 1px solid #36383f;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.signup-container h2{
    font-size: 1.1em;
    font-weight: 900;
}